 /* Estilos gerais */
        body {
            background-color: darkblue;
            font-family: Arial, sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .botao {
            background-color: #6C63FF; 
            color: #FFFFFF;
            border: none;
            border-radius: 20px; /* Botões arredondados */
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .botao:hover {
            background-color: #4A47A3;
            font-size: 17px;
        }


        @media (max-width: 600px) {
            .botao {
                width: 100%;
            }
        }
/* Estilos gerais */
body {
    background-color: darkblue;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.botao {
    background-color: #6C63FF; 
    color: #FFFFFF;
    border: none;
    border-radius: 20px; /* Botões arredondados */
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #4A47A3;
    font-size: 17px;
}

@media (max-width: 600px) {
    .botao {
        width: 100%; /* Set button width to 100% when screen size is 600px or less */
    }
}